@model ProductViewModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var imgpath = "/images/" + Model.ImageUrl;
}

<div class="details-div">

    <div>
        <img src="@imgpath" alt="Product Image" />
    </div>
    <div>
        <div>
            <p class="bold">@Html.DisplayFor(model => model.ProductName)</p>
        </div>
        <div>
            <p class="bold">Description</p><br />
            @Html.DisplayFor(model => model.Description)
        </div>
        <div><p class="bold">Size</p> @Html.DisplayFor(model => model.Size)</div>
        <div class="bold">Ksh @Html.DisplayFor(model => model.Price)</div>
    </div>
</div>
<div class="back-div">
    <a asp-action="Index" class="btn-back"><i class="fas fa-backward"></i>Back to List</a>
</div>
