@model IEnumerable<Sokokapu_Stock_Management.Models.Product>

@{

    Layout = "~/Views/Shared/_Admin.cshtml";

}

<h2>ManageProduct</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<input type="hidden" name="name" value="" />
<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberSold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>

            <th>
                @Html.DisplayNameFor(model => model._Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var path = "/images/" + item.ImageUrl;
            <tr>
                <td>
                    <img style="height:50px;" src="@path" alt="Alternate Text" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberSold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item._Category.Name)
                </td>
                <td>
                    <a asp-action="Sold" asp-route-id="@item.Id" class="btn btn-primary">Number Sold</a>
                    <a asp-action="Details" asp-route-id="@item.Id " class="btn btn-primary">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
