@model IEnumerable<Sokokapu_Stock_Management.Models.Category>

@{
    ViewData["Title"] = "ManageCategories";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<p style="text-align:right">
    <a asp-action="Create"><i class="fas fa-plus-square"></i>Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit<i class="far fa-edit"></i></a> |
                    <a asp-action="DeActivate" asp-route-id="@item.Id">Deactivate<i class="fas fa-power-off"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
